{% extends "layout/base.html.jinja2" %}
{% block title %}
職能發展學院-最新訊息
{% endblock %}
{% block link %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/new.css')}}">
{% endblock %}

{% block main %}

    <div class="accordion-container">
        <h1>最新訊息</h1>
      
        {% for row in rows%}
        

        <div class="accordion-item">
            <div class="accordion-header">
                {#
                 用rows內的排序號
                #}  
                <span class="accordion-title">{{ loop.index ~'.' ~ row[1] }}</span>
                {#
                 <span class="accordion-title">{{row[0]~'.'~row[1]}}</span>
                #}               
                <span class="accordion-date">{{row[2]}}</span>
            </div>
            <div class="accordion-content">
                <p>{{row[3]}}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="{{url_for('static', filename='js/new.js')}}"></script>
{% endblock %}