{% extends "layout/base.html.jinja2" %}
{% block title %}
職能發展學院-課程規劃
{% endblock %}

{% block link %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/classes.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
{% endblock%}

{% block main %}
{#{course_data}#}
<div class="course-tabs">
        <div class="tab-container">
        {% for kind in kinds %}
            <a href="/classes/{{'一般課程' if loop.first else '進階課程'}}" ><button class="tab-item {{'active' if loop.first}}">{{kind}}</button></a>
        {% endfor %}
        </div>
        <div class="tab-line"></div>
</div>
<div class="card-grid-container {% if container_class %}{{ container_class }}{% endif %}">
        <div class="cards-wrapper">
            {# Simulating Jinja2 loop with sample data. 
               In a real Jinja2 environment, you would pass `cards` from your backend.
               card_limit is also a potential Jinja2 variable.
            #}
                       
            {%for course in  course_data%}  

                <div class="card-content">
                    <h3 class="card-title">{{course[0]}}</h3>
                    <p class="card-description">{{course[1]}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
<script src="{{ url_for('static',filename='js/classes.js')}}"></script>
{% endblock %}